.cards {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 60px;
    background: #99b6e1;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 450px);
    background-color: #ffffff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px 40px;
  }
  
  .card img {
    display: block;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1;
    margin: 20px;
  }
  
  .card h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 20px 0 20px;
    text-align: center;
    color: #000;
  }
  
   
  
    